<h5>Create Todo:</h5>
<form (ngSubmit)="onSubmit()" #todoForm="ngForm">
  <div class="form-row">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Description"
        id="description"
        [(ngModel)]="model.description"
        name="description"
        #description="ngModel">
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Responsible"
        id="responsible"
        [(ngModel)]="model.responsible"
        name="responsible"
        #responsible="ngModel">
    </div>
    <div class="col-auto">
      <select
        class="form-control"
        name="priority"
        id="priority"
        [(ngModel)]="model.prioriyty"
        #priority="ngModel">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>
<br>
<h6>Todos List:</h6>
<div *ngIf="(todos | async)?.length">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Todo Description</th>
        <th>Responsible</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of todos | async">
        <td class="align-middle">
          <span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{t.id}}</span>
        </td>
        <td class="align-middle">
          <span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{t.description}}</span></td>
        <td class="align-middle">
          <span (click)="toggleTodo(t)" [class.completed]="t.isCompleted">{{t.responsible}}</span></td>
        <td class="align-middle">
          <span
            class=" badge"
            [ngClass]="{
            'badge-success': t.prioriyty === 'low',
            'badge-warning': t.prioriyty === 'medium',
            'badge-danger': t.prioriyty === 'high'
            }"
          >{{t.prioriyty | uppercase }}</span>
        </td>
        <td  class="align-middle">
          <button class="btn btn-primary" (click)="removeTodo(t)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
