<p class="text-right">
  <span class="badge badge-secondary">Last update: {{(lastUpdate | async) | date:'mediumTime'}} | Total items: {{(todos | async).length}}</span>
</p>
<button class="btn btn-primary" (click)="clearTodos()">Delete All</button>
